
@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post))
{
    <div class="card bg-muted mb-2">
        <h6 class="card-header">Arama</h6>
        <div class="card-body">
            <div class="input-group">
                <input type="text" id="Ara" class="form-control" placeholder="Arama yapınız.." name="">
                <span><button class="btn btn-secondary" value="Ara" type="submit">Ara</button></span>
            </div>
        </div>
    </div>
}